<div class="svg-loader-container d-none"> 
  <svg class="svg_preloader d-none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 248 248" style="enable-background:new 0 0 248 248;" xml:space="preserve">
  <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 60 -20"/>
  </filter>
  <circle stroke="#52DF74" fill="none" stroke-width="3" cx="124" cy="124" r="120"></circle>
  <g id="shape" filter="url(#goo)">
    <circle stroke="#6f8191" fill="none" stroke-width="10" cx="124" cy="124" r="105"></circle>
    <circle fill="#6f8191" cx="0" cy="0" r="36" transform="translate(124 124)">
      <animateTransform attributeName="transform" type="scale" additive="sum"
        calcMode="linear"
        values="1.3;0.55;0.55;1.3" keyTimes="0;0.4;0.6;1"
        dur="2s" repeatCount="indefinite" />
    </circle>
    <circle fill="#52DF74" cx="0" cy="0" r="22">
      <animateMotion path="M124.1,124l-14.9-14.9c-22.3-22.3-2.5-60.3,28.4-54.4c13.3,2.6,26.1,9,36.4,19.4
      c10.1,10.1,16.5,22.4,19.2,35.4c6.5,31.3-31.7,51.9-54.3,29.3L124.1,124z" dur="2s" repeatCount="indefinite" />
    </circle>
    <circle fill="#52DF74" cx="0" cy="0" r="22">
      <animateMotion path="M124.1,124l15.2,15.2c22.2,22.2,2.5,60-28.3,54.2c-13.5-2.5-26.4-9-36.8-19.4c-8.9-8.9-14.9-19.5-18-30.7
      c-9.1-32.5,31.4-55.7,55.2-31.8L124.1,124z" dur="2s" repeatCount="indefinite" />
    </circle>
  </g>
  </svg>
</div>

<i class="fa-solid fa-arrow-down-long fa-xl sticky-button post-load d-none hoverable"></i>
<div class="container post-load d-none">
  <div class="left-sidebar">
    <h1 class="name"><span>Lorenzo Masselli</span></h1>
    <h3>Software Engineer</h3>
    <p class="description"> I am passionate about developing front-end and back-end solutions that are focused on user experience and optimal performance.</p>
    <div class="d-flex flex-column menu">
      <div>
        <p class=""><span class="menu-about menu-item chonky-underline active hoverable">About</span></p>
      </div>
      <div>
        <p class=""><span class=" menu-projects menu-item hoverable">Projects</span></p>
      </div>
      <div>
        <p class=""><span class="menu-experience menu-item hoverable">Experience</span></p>
      </div>
    </div>
    <div class="d-flex all-skills">
      <div class="d-flex flex-column skills">
        <p>Coding Languages</p>
        <div class="d-flex flex-wrap ">
          <span class="tech-skills">Ruby</span>
          <span class="tech-skills">SQL</span>
          <span class="tech-skills">CSS</span>
          <span class="tech-skills">HTML</span>
          <span class="tech-skills">Javascript</span>
        </div>
      </div>
      <div class="d-flex flex-column skills">
        <p>Frameworks & Libraries</p>
        <div class="d-flex flex-wrap">
          <span class="tech-skills">Ruby on rails</span>
          <span class="tech-skills">React</span>
          <span class="tech-skills">Jest</span>
          <span class="tech-skills">Stimulus</span>
          <span class="tech-skills">Bootstrap</span>
          <span class="tech-skills">Mustache.js</span>
        </div>
      </div>
      <div class="d-flex flex-column skills">
        <p class="">Developer Tools</p>
        <div class="d-flex flex-wrap">
          <span class="tech-skills">Git</span>
          <span class="tech-skills">Github</span>
          <span class="tech-skills">Node.js</span>
          <span class="tech-skills">Heroku</span>
          <span class="tech-skills">PostgreSQL</span>
          <span class="tech-skills">Figma</span>
          <span class="tech-skills">Webpack</span>
        </div>
      </div>
    </div>
    <div class="d-flex social-media hoverable">
      <a class="socials " href="https://github.com/LorenzoMasselli" target="_blank">
        <i class="fab fa-github-square fa-2xl" id="logo"></i>
      </a>
      <a class="socials " href="https://www.linkedin.com/in/lorenzo-masselli-6a1894129/" target="_blank">
        <i class="fa-brands fa-linkedin fa-2xl" id="logo"></i>
      </a>
      <a class="socials " href="mailto:lorenzomasselli1@gmail.com" target="_blank">
        <i class="fa-solid fa-square-envelope fa-2xl" id="logo"></i>
      </a>
      <a class="socials " href="https://twitter.com/snoopdogg" target="_blank">
        <i class="fab fa-twitter-square fa-2xl" id="logo"></i>
      </a>
    </div>
  </div>
  <div class="right-content">
    <div id="about">
      <h3 class="header"><span class="header-home">HOME</span> <span class="mx-2">/</span class="header-experience"> ABOUT ME</h3>
      <hr class="line-break">
      <p class="about-content">I am a Full Stack Software Developer with a background in business. </p>
      <p class="about-content">I have a strong foundation in economics, management principles, and global business dynamics, which enables me to approach complex problems strategically.</p>
      <p class="about-content">During my time at Le Wagon Web Development Bootcamp, I acquired a solid understanding of computer science fundamentals and best practices for writing clean, efficient and maintainable code. </p>
      <p class="about-content">While working as a Business Analyst in the FinTech industry I honed my skills in market analysis, data interpretation and delivering high-quality solutions to stakeholders, skills that are readily transferable to the ever-evolving tech sector. </p>
      <div class="mt-5">
        <a class="link" href="<%= asset_path('/pdf/resume.pdf') %>" target="_blank">
            <i class="fa-solid fa-square-arrow-up-right d-inline icon"> </i>
            <h5 class="ml-2 d-inline slide-link"> See full resume</h5>
        </a>
      </div>  
    </div>
    <div id="projects">
      <%# project card %>
      <h3 class="header"><span class="header-home">HOME</span> <span class="mx-2">/</span> PROJECTS</h3>
      <hr class="line-break">
        <div class="d-flex project-card">
          <div class="cards-image pr-3">
            <%= image_tag("barhop.png", alt: "Barhop", :class => "project-image") %>
            <%= image_tag("barhop2.png", alt: "Barhop", :class => "project-image") %>
          </div>
          <div class="card-content">
            <h4 class="card-content-header">
              <p>Barhop Bar Crawl App</p>
              <div class="card-content-links">
                <a class="link" href="https://github.com/dyloff/barhop" target="_blank"><i class="fa-brands fa-github icon-links"></i></a>
                <a class="link" href="https://www.barhop.tech/" target="_blank"><i class="fa-solid fa-link icon-links"></i></a>
              </div>
            </h4>
            <p>Contributed to the development of BarHop, a web application that generates curated routes based on preferences like venue type, price, and the number of bars. Integrated external Restful APIs for real-time access to comprehensive bar venue data, enhancing the user experience.</p>
            <div class="d-flex flex-wrap">
                <span class="technology">Ruby on Rails</span>
                <span class="technology">Javascript</span>
                <span class="technology">SCSS</span>
                <span class="technology">Heroku</span>
                <span class="technology">PostgreSQL</span>
                <span class="technology">RESTful API</span>
            </div>
          </div>
        </div>
      <%# project card %>
        <div class="d-flex project-card">
          <div class="cards-image pr-3">
            <%= image_tag("restaurant.png", alt: "restaurant", :class => "project-image") %>
            <%= image_tag("restaurant2.png", alt: "restaurant", :class => "project-image") %>
            <%= image_tag("restaurant3.png", alt: "restaurant", :class => "project-image") %>
            <%= image_tag("restaurant4.png", alt: "restaurant", :class => "project-image") %>
          </div>
          <div class="card-content">
            <h4 class="card-content-header">
              <p>Restaurant Reservation Management </p>
              <div class="card-content-links">
                <a class="link" href="https://github.com/LorenzoMasselli/react-rails-restaurant-frontend" target="_blank"><i class="fa-brands fa-github icon-links"></i></a>
                <a class="link" href="https://lorenzomasselli.github.io/react-rails-restaurant-frontend/" target="_blank"><i class="fa-solid fa-link icon-links"></i></a>
              </div>
            </h4>
            <p>Developed a restaurant reservation platform featuring dynamic routing, API-driven data retrieval, user input handling, and secure user authentication. Rigorous Jest unit tests were implemented for code reliability. The platform seamlessly integrates API requests for efficient user and booking data management, providing a smooth experience for both customers and staff.</p>
            <div class="d-flex flex-wrap">
                <span class="technology">Ruby on Rails</span>
                <span class="technology">PostgreSQL</span>
                <span class="technology">React</span>
                <span class="technology">Jest</span>
                <span class="technology">Node.js</span>
                <span class="technology">RESTful API</span>
                <span class="technology">Heroku</span>
            </div>
          </div>
      </div>

      <%# project card %>

        <div class="d-flex project-card">
          <div class="cards-image pr-3">
            <%= image_tag("render.png", alt: "Render", :class => "project-image") %>
            <%= image_tag("render2.png", alt: "Render", :class => "project-image") %>
          </div>
          <div class="card-content">
            <h4 class="card-content-header">
              <p>Render Art Sharing </p>
              <div class="card-content-links">
                <a class="link" href="https://github.com/AlekP141/Render" target="_blank"><i class="fa-brands fa-github icon-links"></i></a>
                <a class="link" href="https://render-lw1230.herokuapp.com/artworks" target="_blank"><i class="fa-solid fa-link icon-links"></i></a>
              </div>
            </h4>
            <p >Contributed to the development of a peer-to-peer web application that allows users to rent and share artworks with others, with a focus on making art accessible to everyone.</p>
            <div class="d-flex flex-wrap">
                <span class="technology">Ruby on Rails</span>
                <span class="technology">Javascript</span>
                <span class="technology">SCSS</span>
                <span class="technology">Heroku</span>
                <span class="technology">PostgreSQL</span>
            </div>
          </div>
        </div>
    </div>

    <div id="experience">
      <%# Experience %>
      <h3 class="header"><span class="header-home">HOME</span> <span class="mx-2">/</span> EXPERIENCE</h3>
      <hr class="line-break">
      <a class="link" href="https://www.pollinate.global/" target="_blank">
        <div class="d-flex experience-card hoverable">
          <div class="experience-time pr-3">
            <p class="years">2022 — 2023</p>
          </div>
          <div class="card-content">
            <h4 class="mb-0">Pollinate</h4>
            <p>Business Analyst</p>
            <p>As part of the CEO's and Chief of Staff team, I did comprehensive market research and analysis on the FinTech industry. This informed data-driven decision-making, strategic partnerships, and business planning.</p>
          </div>
        </div>
      </a>
      <%# Experience %>
      <a class="link" href="https://www.viasarfatti25.unibocconi.eu/notizia.php?idArt=20554" target="_blank">
        <div class="d-flex experience-card hoverable">
          <div class="experience-time pr-3">
            <p class="years">2016 — 2021</p>
          </div>
          <div class="card-content">
            <h4 class="mb-0">Zebre • Rugby Lyons • Italy u20</h4>
            <p>Professional rugby player</p>
            <p>Rugby is a highly competitive sport that requires effective leadership and good communication to succeed. As a rugby player, I demonstrated these qualities by working closely with my teammates to develop and execute game plans, communicate effectively on the field, and motivate each other to give our best effort.</p>
          </div>
        </div>
      </a>
      <div>
        <h4 class="footer-note">*This portfolio was built with Ruby on Rails, Javascript, HTML and CSS </h4>
      </div>
      
    </div>
  </div>
</div>

